#SiteTitleContainer {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 10%;
    background-color: #4b4b4b;
    overflow: hidden;
}

#SiteTitleContainer a {
    color: dodgerblue;
    text-decoration: none;
    text-align: center;
    position: absolute;
    height: 100%;
}

#SiteTitleContainer a:hover {
    animation-name: raiseTopBarElement;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

#SiteTitle {
    width: 10%;
}

#SinglePlayer {
    left: 10%;
    width: 20%;
}

#FindGames {
    left: 30%;
    width: 20%;
}

#CreateGame {
    left: 50%;
    width: 20%;
}