#SettingsSideDiv {
  left: 60%;
  width: 40%;
  height: 100%;
  position: absolute;
}

.timerInput {
  position: absolute;
  left: 5%;
  right: 5%;
  opacity: 0.75;
  text-align: center;
}

.timerInput.white {
  top: 25%;
  height: 20%;
  color: #393939;  /* very dark gray */
  background-color: #d3d3d3; /* very light gray */
}

.timerInput.black {
  bottom: 25%;
  height: 20%;
  color: #d3d3d3; /* very light gray */
  background-color: #393939; /* very dark gray */
}

.timerInput .customNumberInput {
  position: absolute;
  top: 10%;
  height: 90%;
  opacity: 0.5;
}

.timerInput.white .customNumberInput {
  background-color: #f3f3f3;
}

.timerInput.black .customNumberInput {
  background-color: #595959;
}

.timerInput .customNumberInput.selected {
  opacity: 1;
}

.timerInput .customNumberInput.minute {
  left: 14%;
  width: 20%;
}

.timerInput .customNumberInput.second {
  left: 40%;
  width: 20%;
}

.timerInput .customNumberInput.increment {
  right: 10%;
  width: 20%;
}

.customNumberInput .cursor {
  height: 75%;
  width: 2%;
  background-color: black;
  display: inline-block;
  margin-top: 12.5%;
}

.timerInput .colon {
  position: absolute;

  left: 34%;
  width: 6%;
  height: 100%;
  text-align: center;
  margin-top: 2%;
}

.timerInput .plus {
  position: absolute;

  right: 30%;
  width: 10%;
  height: 100%;
  text-align: center;
  margin-top: 2%;
}