body {
    font-family: "Sans-serif", "Helvetica";
    background-color: #131313;
}

.screen {
    pointer-events: none;

    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 2147483647; /* 32-bit integer limit */
    background-color: #131313;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textWidth {
    color: #00000000;
    position: absolute;
    height: auto; 
    width: auto;
    white-space: no-wrap;
}
  
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-button {
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-button.gray {
    background-color: #333333;
}

.custom-button.blue {
    background-color: dodgerblue;
}

.custom-button.green {
    background-color: forestgreen;
}

.custom-alert {
    position: absolute;
    z-index: 2147483646; /* 32-bit integer limit minus 1 */
    box-shadow: 10px 10px 10px 0px black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-alert.top {
    top: 10px;
}

.custom-alert.right {
    right: 10px;
}

.custom-alert.bottom {
    bottom: 10px;
}

.custom-alert.left {
    left: 10px;
}