body {
    font-family: "Sans-serif", "Helvetica";
    background-color: #131313;
}

.textWidth {
    color: #00000000;
    position: absolute;
    height: auto; 
    width: auto;
    white-space: no-wrap;
}
  
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}