<div id="SettingsSideDiv">
    <div class="timerInput white" id="WhiteTimerInputContainer">
        <div id="WhiteTimerMinuteInput" class="customInput minute" data-maxText="2" data-nextInput="WhiteTimerSecondInput"></div>
        <div id="WhiteTimerSecondInput" class="customInput second" data-maxText="2"></div>
    </div>
    <div class="timerInput black" id="BlackTimerInputContainer">
        <div id="BlackTimerMinuteInput" class="customInput minute" data-maxText="2" data-nextInput="BlackTimerSecondInput"></div>
        <div id="BlackTimerSecondInput" class="customInput second" data-maxText="2"></div>
    </div>
</div>