<div id="SettingsSideDiv">
    <div class="timerInput white" id="WhiteTimerInputContainer">
        <div id="WhiteTimerMinuteInput" class="customInput customNumberInput minute" data-maxText="2" data-customInputClass="TimerInputs" data-row="1" data-column ="1">10</div>
        <div class="colon">:</div>
        <div id="WhiteTimerSecondInput" class="customInput customNumberInput second" data-maxText="2" data-maxNumber="60" data-customInputClass="TimerInputs" data-row="1" data-column ="2">00</div>
        <div class="plus">+</div>
        <div id="WhiteTimerIncrementInput" class="customInput customNumberInput increment" data-maxText="2" data-maxNumber="60" data-customInputClass="TimerInputs" data-row="1" data-column ="3">00</div>
    </div>
    <div class="timerInput black" id="BlackTimerInputContainer">
        <div id="BlackTimerMinuteInput" class="customInput customNumberInput minute" data-maxText="2" data-customInputClass="TimerInputs" data-row="2" data-column ="1">10</div>
        <div class="colon">:</div>
        <div id="BlackTimerSecondInput" class="customInput customNumberInput second" data-maxText="2" data-maxNumber="60" data-customInputClass="TimerInputs" data-row="2" data-column ="2">00</div>
        <div class="plus">+</div>
        <div id="BlackTimerIncrementInput" class="customInput customNumberInput increment" data-maxText="2" data-maxNumber="60" data-customInputClass="TimerInputs" data-row="2" data-column ="3">00</div>
    </div>
</div>