<canvas id="Create_DrawPieceCanvas" hidden></canvas>
<div id="Create_ChessBoard" class="chessBoard">
        
</div>
<div id="SettingsSideDiv">
    <div class="timerInput white" id="WhiteTimerInputContainer">
        <div id="WhiteTimerMinuteInput" class="customInput customNumberInput minute" data-maxText="2" data-maxNumber="99" data-minNumber="0" data-customInputClass="TimerInputs" data-row="0" data-column ="0" data-placeholder="--">10</div>
        <div class="colon">:</div>
        <div id="WhiteTimerSecondInput" class="customInput customNumberInput second" data-maxText="2" data-maxNumber="59" data-minNumber="0" data-customInputClass="TimerInputs" data-row="0" data-column ="1" data-placeholder="--"></div>
        <div class="plus">+</div>
        <div id="WhiteTimerIncrementInput" class="customInput customNumberInput increment" data-maxText="2" data-maxNumber="60" data-minNumber="0" data-customInputClass="TimerInputs" data-row="0" data-column ="2" data-placeholder="--"></div>
    </div>
    <div class="timerInput black" id="BlackTimerInputContainer">
        <div id="BlackTimerMinuteInput" class="customInput customNumberInput minute" data-maxText="2" data-maxNumber="99" data-minNumber="0" data-customInputClass="TimerInputs" data-row="1" data-column ="0" data-placeholder="--">10</div>
        <div class="colon">:</div>
        <div id="BlackTimerSecondInput" class="customInput customNumberInput second" data-maxText="2" data-maxNumber="59" data-minNumber="0" data-customInputClass="TimerInputs" data-row="1" data-column ="1" data-placeholder="--"></div>
        <div class="plus">+</div>
        <div id="BlackTimerIncrementInput" class="customInput customNumberInput increment" data-maxText="2" data-maxNumber="60" data-minNumber="0" data-customInputClass="TimerInputs" data-row="1" data-column ="2" data-placeholder="--"></div>
    </div>
    <div id="SubmitButtonContainer">
        <a id="SubmitButton" class="custom-button green" onclick="CreateGame.Functions.OnSubmit();">Submit</a>
    </div>
</div>