<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_top">

        <!-- CSS -->
        <%- `<style>${include("/workspace/Gecko/global_files/CSS/WebSite.css")}</style>` %>
        <%- `<style>${include("../CSS/Main_CSS.css")}</style>` %>
        
        <!-- JavaScript -->
        <%- `<script>${include("/workspace/Gecko/global_files/JavaScript/LCF.js")}</script>` %>
    </head>
    <body>
        <h1 id="SiteTitle" href="single-player">Gecko</h1>
    </body>
</html>