<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_top">

        <!-- CSS -->
        <%- `<style>${include("/workspace/Gecko/global_files/CSS/WebSite.css")}</style>` %>
        <%- `<style>${include("../CSS/Main_CSS.css")}</style>` %> 
    </head>
    <body>
        <h1 id="SiteTite">Gecko</h1>
    </body>
</html>