<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_top">

        <!-- CSS -->
        <%- `<style>${include("../CSS/Main_CSS.css")}</style>` %> 
    </head>
    <body>
        
    </body>
</html>